* {
	margin: 0;
	padding: 0;
	overflow: hidden;
}
body {
	background-color: black;
}
@font-face {
  font-family: poppinsLite;
  src: url('../fonts/Poppins/Poppins-ExtraLight.ttf');
}
@font-face {
  font-family: poppinsReg;
  src: url('../fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: poppinsMed;
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppinsBold;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

#menu {
	position: absolute;
	background-color: transparent;
	width: 100vw;
	height: 7vh;
	transition: background-color 0.2s;
}
/*#menu:hover {
	background-color: rgb(150, 150, 150, 0.3);
}*/
#logo {
	position: absolute;
	width: 22vw;
	height: 7vh;
	margin-left: 1vw;
	margin-top: 0vh;
	background-color: transparent;
	background-image: url("../assets/headerlogowhite.png");
	background-repeat: no-repeat;
	background-size: 60%, 100%;
	background-position: center;
	filter: none;
	transition: background-color 0.3s, filter 0.2s;
}
#logo:hover {
	filter: drop-shadow(-2px 2px 10px white);
}
.aButton {
	width: 9vw;
	height: 7vh;
	z-index: 600;
	padding-top: 2.2vh;
	float: right;
	font-size: 1.2vw;
	font-family: poppinsReg;
	font-weight: bold;
	text-align: center;
	color: rgb(230, 230, 230);
	background-color: transparent;
	text-shadow: none;
	transition: text-shadow 0.3s, color 0.3s;
}
.aButton:hover {
	text-shadow: -3px 3px 20px white;
	color: white;
}
#lastButton {
	color: white;
	transition: background-color 0.3s, text-shadow 0.3s, color 0.3s;
}
#lastButton:hover {
	background-color: #0092d6;
	text-shadow: -3px 3px 20px white;
}

#correction {
	position: absolute;
	width: 10vw;
	height: 10vh;
	margin-left: 45vw;
	margin-top: 45vh;
	background: radial-gradient(rgb(30, 30, 30) 0%, rgb(0, 0, 0) 50%);
	animation-name: go;
	animation-fill-mode: forwards;
	animation-duration: 2s;
	animation-delay: 0.2s;
	z-index: -1;
}
@keyframes go {
	0% {
		width: 10vw;
		height: 10vh;
		margin-left: 45vw;
		margin-top: 45vh;
	}
	100% {
		width: 300vw;
		height: 300vh;
		margin-left: -100vw;
		margin-top: -100vh;
	}
}
.dates {
	position: absolute;
	width: 100vw;
	margin-top: 20vh;
	margin-left: 13vw;
	text-align: left;
	color: #0481ba;
	font-family: poppinsReg;
	z-index: 500;
	opacity: 0;
	background-color: transparent;
	animation-name: in;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
	animation-delay: 2s;
}
@keyframes in {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
#month {
	font-size: 11.5vw;
	margin-top: 20vh;
	margin-left: 13vw;
}
#day {
	font-size: 9.5vw;
	margin-top: 40vh;
	margin-left: 13vw;
}
#hour {
	font-size: 6vw;
	margin-top: 59vh;
	margin-left: 13.6vw;
}
#minute {
	font-size: 4vw;
	margin-top: 72vh;
	margin-left: 14vw;
}
#second {
	font-size: 3vw;
	margin-top: 81.4vh;
	margin-left: 14.2vw;
}

#josephlogo {
	position: absolute;
	width: 15vw;
	height: 40vh;
	margin-top: -50vh;
	margin-left: 100vw;
	background-color: transparent;
	background-image: url("../assets/josephlogo.png");
	background-repeat: no-repeat;
	background-size: 100%, 100%;
	z-index: 600;
	transform: rotate(0deg);
	transform-origin: top center;
	animation-name: swing;
	animation-fill-mode: forwards;
	animation-duration: 1.8s;
	animation-delay: 3s;
}
@keyframes swing {
	0% {margin-top: -100vh; margin-left: -50vw; transform: rotate(30deg);}
	10% {margin-top: 39vh; margin-left: 56vw;}
	30% {transform: rotate(45deg);}
	60% {transform: rotate(-40deg);}
	80% {transform: rotate(8deg);}
	88% {transform: rotate(-2deg);}
	95% {transform: rotate(0deg);}
	100% {margin-top: 39vh; margin-left: 56vw; transform: rotate(0deg);}
}

strong {
	font-family: poppinsBold;
	color: #47c5ff;
	text-shadow: 0px 0px 10px #008ccc;
}






